name: Deploy Application

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  APPLICATION_PORT: 5000
  EC2_INSTANCE_ID: i-0a14611370af5093f
  DEPLOY_BUCKET: devsecops-deploy-piyush-1766477723

jobs:
  security-gate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Security gate passed"

  build-application:
    needs: security-gate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      #  AWS creds MUST come first
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Build Docker image
        run: |
          cd application
          docker build -t devsecops-app:${{ github.sha }} .

      - name: Save Docker image
        run: |
          docker save devsecops-app:${{ github.sha }} -o app-image.tar

      - name: Upload image to S3
        run: |
          aws s3 cp app-image.tar s3://${{ env.DEPLOY_BUCKET }}/app-image.tar

  deploy-application:
    needs: build-application
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Deploy via SSM
        run: |
          aws ssm send-command \
            --instance-ids "${{ env.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --parameters 'commands=[
              "aws s3 cp s3://${{ env.DEPLOY_BUCKET }}/app-image.tar /tmp/app-image.tar",
              "docker load -i /tmp/app-image.tar",
              "docker stop devsecops-app || true",
              "docker rm devsecops-app || true",
              "docker run -d --name devsecops-app --restart unless-stopped -p 5000:5000 devsecops-app:${{ github.sha }}",
              "sleep 10",
              "curl -f http://localhost:5000/health"
            ]'

  smoke-tests:
    needs: deploy-application
    runs-on: ubuntu-latest
    steps:
      - name: Health check
        run: |
          curl -f http://34.194.123.19:5000/health

